<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./assets/favicon.89ad370f.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="module" crossorigin src="./assets/index.a11ff022.js"></script>
    <link rel="stylesheet" href="./assets/index.22d32f7d.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <style>
      body {
        background-color: rgb(28, 28, 28);
      }
    </style>
    <div id="app"></div>
    
    <!-- built files will be auto injected -->
  </body>
</html>
